body {
    background-color: silver;
    text-align: center;
    border: 10px solid black;
    padding: 20px;
}

#demo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(237, 218, 147);
}

.prettybutton {
    color: black;
    background-color: rgb(237, 218, 147);
}

.prettybutton, #demo {
    font-size: 30px;
}